section {
  background-image: url("../assets/images/mesh-horizontal.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 60px 0;
  min-height: 100vh;
}

section .container .wrapper img {
  width: 150px;
  margin: auto;
  display: block;
}

section .container .wrapper .box {
  max-width: 700px;

  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.3);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.3);

  padding: 30px;
  border-radius: 5px;
  color: var(--gray-2);
  margin: 20px auto auto auto;

  word-break: break-all;
}

section .container .wrapper .box > *:not(:first-child):not(:last-child) {
  margin: 10px 0;
}

section .container .wrapper .box p:first-child {
  font-weight: bold;
}

section .container .wrapper .box #name {
  font-size: 30px;
  font-weight: 900;
}

@media screen and (min-width: 768px) {
  section .container .wrapper .box #name {
    font-size: 42px;
  }
}
