:root {
  --gray-0: #f8fafc;
  --gray-1: #f1f5f9;
  --gray-2: #e2e8f0;
  --gray-3: #cbd5e1;
  --gray-4: #94a3b8;
  --gray-5: #64748b;
  --gray-6: #475569;
  --gray-7: #334155;
  --gray-8: #1e293b;
  --gray-9: #0f172a;

  --light-background: var(--gray-1);
  --dark-background: var(--gray-8);

  --white: white;

  --red: #bd2841;
  --red-variant: rgb(160, 23, 23);

  --orange: #f97316;
  --orange-variant: #c2410c;

  --yellow: #fbbf24;
  --yellow-variant: #d97706;

  --green: #16a34a;
  --green-variant: #166534;

  --blue: #2563eb;
  --blue-variant: #1e40af;

  --primary: #162941;
  --primary-variant: #101f33;
  --primary-rgb: 22, 41, 65;
}
